<div class="c-destacado c-destacado--flipped">
  <div class="c-destacado__image">
    <img src="https://placedog.net/1600/800?id=1" alt="Imagen del destacado" />
  </div>
  <div class="c-destacado__main">
    <div class="c-destacado__main__titulo">
      <h2>Medicina primaria</h2>
    </div>
    <div class="c-destacado__main__text">
      Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto
      de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la
      imprenta)
    </div>
  </div>
</div>
